#header {
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 85%;
    width: 100%;
    background-color: white;
    border-bottom: 3px solid black;
}

#profileButtons {
    display: flex;
    height: 40%;
    gap: 0.3vw;
}

#loginButtons {
    display: flex;
    height: 60%;
    gap: 0.3vw;
}

#loginCorner {
    height: 100%;
    width: 50%;
    margin-right: 0.5%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

#accountName {
    height: 20%;
    width: 100%;
    font-size: 3vh;
    text-align: right;
}

#accountCorner {
    height: 100%;
    width: 50%;
    margin-right: 0.5%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 2vh;
}

button.header {
    height: 100%;
    /* width: 10vw; */
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    background-color: #f7edd9;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    /* font-family: Consolas, monaco, monospace;  */
    font-size: 3vh;
    overflow: hidden;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

button.header:hover {
    background-color: #dad1c0;
}

button.header:active {
    background-color: #cfc7b7;
}

#title {
    margin-top: 7vh;
    margin-left: 1vh;
    transform: translate(0, -50%);
    float: left;
    display: block;
    color: #968254;
    font-size: 12vh;
    font-weight: bold;
    -webkit-text-stroke: 3px black;
}