:root {
    --monke-green: #7CCF98;
    --monke-green-hover: #66ac7d;
    --monke-green-active: #5ea074;
    --monke-green-border: #4d805e;
    --empty-brown: #968254;
    --full-brown: #e2d2af;
    --selected-brown: #f7edd9;
    --background-color: lightgrey;
}

body {
    background-color: var(--background-color);
    text-align: center;
    /* font-family: Consolas, monaco, monospace;  */
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2vh;
    overflow: hidden;
}

#miniCalendar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 35%;
    background-color: var(--background-color);
}

#selector {
    margin-top: 2%;
    height: 9%;
    margin-bottom: 2%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

.selector {
    display: inline-block;
    text-align: center;
    height: 100%;
    font-size: 150%;
    margin-top: 0;
}

#leftButton, #rightButton {
    height: 100%;
    width: 15%;
    border-radius: 4px;
    border: 2px solid black;
    background-color: #f7edd9;
    text-align: center;
}

.nomarg {
    margin: 0;
}

.emptyCell {
    background-color: var(--empty-brown);
}

.fullCell {
    background-color: var(--full-brown);
}

.currentCell {
    background-color: var(--selected-brown);
}

.fullCell:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
    transform: scale(1.03);
}

.fullCell:active {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.currentCell:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
    transform: scale(1.03);
}

.currentCell:active {
    background-color: white;
}

.buttonText {
    transform: translateY(-18%);
}

#leftButton:hover, #rightButton:hover {
    background-color: #dad1c0;
}

#leftButton:active, #rightButton:active {
    background-color: #cfc7b7;
}

#monthLabel {
    position: relative;
    top: 10%;
    display: inline-block;
    transform: translateY(-35%);
}

#calender {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 3px solid black;
    background-color: var(--empty-brown);
    width: 98%;
    height: 85%;
    table-layout: fixed;
}

#calender th, #calender td {
    border-radius: 3px;
    border-style: solid;
}

#calender th {
    height: 5%;
    background-color: var(--full-brown);
}

#calender td {
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    overflow: visible;
}

#dayRow5 {
    display: none;
}

#daySheetContainer {
    position: absolute;
    top: 15%;
    bottom: 0;
    right: 0;
    left: 20%;
}

#daySheet {
    position: absolute;
    top: 3px;
    bottom: 3px;
    right: 3px;
    left: 0;
    background-color: var(--background-color);
    overflow-y: scroll;
    overflow-x: hidden;
    border: 3px solid black;
    border-radius: 5px;
}

#daySheet table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#daySheet th {
    border-bottom: 3px solid black;
    background-color: var(--empty-brown);
}

.timeColumn {
    width: 10%;
    border: 1px solid black;
    border-left: none;
    background-color: var(--full-brown);
    font-size: 1.5vh;
    height: 2.5vh;
    padding: 0;
}

.eventColumn {
    border: 1px solid black;
    border-left: 3px solid black;
    border-right: none;
    background-color: var(--selected-brown);
    padding: 0;
}

#header {
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 85%;
    width: 100%;
    background-color: white;
    border-bottom: 3px solid black;
}

#loginCorner {
    height: 100%;
    width: 50%;
    margin-right: 0.5%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

#accountName {
    height: 20%;
    width: 100%;
    margin-top: 1vh;
    font-size: 3vh;
    text-align: right;
}

#accountCorner {
    height: 100%;
    width: 50%;
    margin-right: 0.5%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

button.header {
    height: 40%;
    width: 10vw;
    background-color: #f7edd9;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    /* font-family: Consolas, monaco, monospace;  */
    font-size: 3vh;
    overflow: hidden;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

button.header:hover {
    background-color: #dad1c0;
}

button.header:active {
    background-color: #cfc7b7;
}

#title {
    margin-top: 7vh;
    margin-left: 1vh;
    transform: translate(0, -50%);
    float: left;
    display: block;
    color: #968254;
    font-size: 12vh;
    font-weight: bold;
    -webkit-text-stroke: 3px black;
}

.slotBubble {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 1vh;
    height: 2.5vh;
    overflow: visible;
    pointer-events: none;
    margin-top: 0;
}

.slot {
    border-radius: 5px;
    box-shadow:inset 0px 0px 0px 3px black;
    padding-left: 1vh;
    padding-right: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: all;
}

.slot:hover {
    transform: scale(1.03);
}

.slot:active {
    transform: scale(1.04);
}

.math {
    background-color: black;
}

.science {
    background-color: green;
}

.social {
    background-color: blue;
}

.english {
    background-color: red;
}

.misc {
    background-color: yellow;
    color: black;
}

.noSubject {
    background-color: white;
    color: black;
}

/* Tutor Control */

#tutorControl {
    position: absolute;
    top: 15%;
    left: 0;
    width: 20%;
    height: 35%;
}

#tutorControl p {
    font-size: small;
}

#tutorControl label {
    font-size: medium;
}

.timeInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.timeInput input {
    width: 2ch;
}