:root {
    --monke-green: #7CCF98;
    --monke-green-hover: #66ac7d;
    --monke-green-active: #5ea074;
    --monke-green-border: #4d805e;
    --empty-brown: #968254;
    --full-brown: #e2d2af;
    --selected-brown: #f7edd9;
    --background-color: lightgrey;
}

body {
    background-color: var(--background-color);
    text-align: center;
    font-family: Consolas, monaco, monospace; 
    font-size: 2vh;
}

#miniCalendar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 35%;
    background-color: var(--background-color);
}

#selector {
    margin-top: 2%;
    height: 9%;
    margin-bottom: 2%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

.selector {
    display: inline-block;
    text-align: center;
    height: 100%;
    font-size: 150%;
    margin-top: 0;
}

#leftButton, #rightButton {
    height: 100%;
    width: 15%;
    border-radius: 4px;
    border: 2px solid black;
    background-color: #f7edd9;
    text-align: center;
}

#monthLabel {
    transform: translateY(-25%);
}

.nomarg {
    margin: 0;
}

.buttonText {
    transform: translateY(-10%);
}

#leftButton:hover, #rightButton:hover {
    background-color: #dad1c0;
}

#leftButton:active, #rightButton:active {
    background-color: #cfc7b7;
}

#monthLabel {
    position: relative;
    top: 10%;
    display: inline-block;
}

#calender {
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border-style: solid;
    background-color: var(--empty-brown);
    width: 98%;
    height: 85%;
    table-layout: fixed;
}

#calender th, #calender td {
    border-radius: 3px;
    border-style: solid;
    background-color: var(--full-brown);
}

#calender th {
    height: 5%;
}

#calender td {
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
}

#dayRow5 {
    display: none;
}

#daySheet {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: var(--background-color);
}

#daySheet table {
    width: 100%;
    border-collapse: collapse;
}

#timeColumn {
    width: 10%;
}

#daySheet th {
    border: 3px solid black;
}

#daySheet td {
    border: 1px solid black;
}